<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css">
    </head>
<h1>creer</h1>
<form action="/create" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required>
    <br>
    
    <br>
    <input type="submit" value="Create Task">
</form>

