<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css">
    </head>
<h1>TODO LISTE</h1>
<a href="/liste" > liste tache</a> <br>
<a href="/create" > Create</a>
