<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css">
    </head>

<h1>Tâche mise à jour</h1>
<p>La tâche avec l'ID {{ task_id }} a été mise à jour.</p>

<a href="/liste" > liste tache</a> 