<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css">
    </head>

<h1>Task Deleted</h1>
<p>The task with ID {{ task_id }} has been deleted.</p>
<a href="/liste" > liste tache</a> 